*{
    margin: 0;
    padding: 0;
}

.navbar-style
{
    background-color: grey;
    
    height:auto;
    width: auto;
    font-size:20px;

    box-shadow: 0 5px 10px black;
 
}
li a{
    color: #000;
}
.logo
{
    height: 48px;
    padding: 2px 10px;
}
.icon-bar
{
    background: darkorange;
}
.para1
{
    font-size: 30px;
   
    color : darkorange;
    font-family: Arial, Helvetica, sans-serif;
    
}
#updateBug
{
    color: grey;
    font-size: 20px;
    background-color: cornsilk;
    width: auto;
    height: auto;
   
    
}
.btn.btn-first
{ 
    border-radius: 20px;
    background-color: darkorange;
    color: black;
    margin: auto;
    width: 100%;
    padding: 10px;

    color: black;
    font-size: 20px;
    border-collapse: collapse;
}
.btn-first:hover {
    background-color: yellow;
}